.sheet-cell-container {
  .pencil {
    padding-right: 5.5px;
    cursor: pointer;
  }

  input {
    background: #f3f3f3;
    border: 0px;
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
}
